body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* INICIO NAV BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #87CEEB;
    padding: 10px 20px;
    position: fixed;
    width: 98%;
    top: 0;
    z-index: 1000;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.nav-links a:hover {
    background-color: #00BFFF;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #87CEEB;
    min-width: 160px;
    z-index: 1;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #00BFFF;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* FIN NAV BAR */

/* INICIO BANNER 1 */
.banner {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}
/* FIN BANNER 1 */

/* INICIO TEXTO UNIVERSIDADES */
.universidades-container {
    background-color: #d5ebf5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
}

.universidades-info p {
    color: #555;
    line-height: 1.6;
    text-align: justify;
}
.universidades-info h2{
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

/* FIN TEXTO UNIVERSIDADES */

/* inicio boton */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

#backToTop.show {
    display: block;
    opacity: 0.8;
}

#backToTop:hover {
    opacity: 1;
}

.uiverse {
    --duration: 7s;
    --easing: linear;
    --c-color-1: rgba(255, 163, 26, 0.7);
    --c-color-2: #1a23ff;
    --c-color-3: #e21bda;
    --c-color-4: rgba(255, 232, 26, 0.7);
    --c-shadow: rgba(255, 223, 87, 0.5);
    --c-shadow-inset-top: rgba(255, 223, 52, 0.9);
    --c-shadow-inset-bottom: rgba(255, 250, 215, 0.8);
    --c-radial-inner: #ffd215;
    --c-radial-outer: #fff172;
    --c-color: #fff;
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    cursor: pointer;
    border: none;
    display: table;
    border-radius: 24px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--c-color);
    background: radial-gradient(circle,
            var(--c-radial-inner),
            var(--c-radial-outer) 80%);
    box-shadow: 0 0 14px var(--c-shadow);
}

.uiverse:before {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    box-shadow:
        inset 0 3px 12px var(--c-shadow-inset-top),
        inset 0 -3px 4px var(--c-shadow-inset-bottom);
}

.uiverse .wrapper {
    mask-image: radial-gradient(white, black);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    border-radius: 24px;
    min-width: 132px;
    padding: 12px 0;
}

.uiverse .wrapper span {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.uiverse:hover {
    --duration: 1400ms;
}

.uiverse .wrapper .circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: blur(var(--blur, 8px));
    background: var(--background, transparent);
    transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
    animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.uiverse .wrapper .circle.circle-1,
.uiverse .wrapper .circle.circle-9,
.uiverse .wrapper .circle.circle-10 {
    --background: var(--c-color-4);
}

.uiverse .wrapper .circle.circle-3,
.uiverse .wrapper .circle.circle-4 {
    --background: var(--c-color-2);
    --blur: 14px;
}

.uiverse .wrapper .circle.circle-5,
.uiverse .wrapper .circle.circle-6 {
    --background: var(--c-color-3);
    --blur: 16px;
}

.uiverse .wrapper .circle.circle-2,
.uiverse .wrapper .circle.circle-7,
.uiverse .wrapper .circle.circle-8,
.uiverse .wrapper .circle.circle-11,
.uiverse .wrapper .circle.circle-12 {
    --background: var(--c-color-1);
    --blur: 12px;
}

.uiverse .wrapper .circle.circle-1 {
    --x: 0;
    --y: -40px;
    --animation: circle-1;
}

.uiverse .wrapper .circle.circle-2 {
    --x: 92px;
    --y: 8px;
    --animation: circle-2;
}

.uiverse .wrapper .circle.circle-3 {
    --x: -12px;
    --y: -12px;
    --animation: circle-3;
}

.uiverse .wrapper .circle.circle-4 {
    --x: 80px;
    --y: -12px;
    --animation: circle-4;
}

.uiverse .wrapper .circle.circle-5 {
    --x: 12px;
    --y: -4px;
    --animation: circle-5;
}

.uiverse .wrapper .circle.circle-6 {
    --x: 56px;
    --y: 16px;
    --animation: circle-6;
}

.uiverse .wrapper .circle.circle-7 {
    --x: 8px;
    --y: 28px;
    --animation: circle-7;
}

.uiverse .wrapper .circle.circle-8 {
    --x: 28px;
    --y: -4px;
    --animation: circle-8;
}

.uiverse .wrapper .circle.circle-9 {
    --x: 20px;
    --y: -12px;
    --animation: circle-9;
}

.uiverse .wrapper .circle.circle-10 {
    --x: 64px;
    --y: 16px;
    --animation: circle-10;
}

.uiverse .wrapper .circle.circle-11 {
    --x: 4px;
    --y: 4px;
    --animation: circle-11;
}

.uiverse .wrapper .circle.circle-12 {
    --blur: 14px;
    --x: 52px;
    --y: 4px;
    --animation: circle-12;
}

@keyframes circle-1 {
    33% {
        transform: translate(0px, 16px) translateZ(0);
    }

    66% {
        transform: translate(12px, 64px) translateZ(0);
    }
}

@keyframes circle-2 {
    33% {
        transform: translate(80px, -10px) translateZ(0);
    }

    66% {
        transform: translate(72px, -48px) translateZ(0);
    }
}

@keyframes circle-3 {
    33% {
        transform: translate(20px, 12px) translateZ(0);
    }

    66% {
        transform: translate(12px, 4px) translateZ(0);
    }
}

@keyframes circle-4 {
    33% {
        transform: translate(76px, -12px) translateZ(0);
    }

    66% {
        transform: translate(112px, -8px) translateZ(0);
    }
}

@keyframes circle-5 {
    33% {
        transform: translate(84px, 28px) translateZ(0);
    }

    66% {
        transform: translate(40px, -32px) translateZ(0);
    }
}

@keyframes circle-6 {
    33% {
        transform: translate(28px, -16px) translateZ(0);
    }

    66% {
        transform: translate(76px, -56px) translateZ(0);
    }
}

@keyframes circle-7 {
    33% {
        transform: translate(8px, 28px) translateZ(0);
    }

    66% {
        transform: translate(20px, -60px) translateZ(0);
    }
}

@keyframes circle-8 {
    33% {
        transform: translate(32px, -4px) translateZ(0);
    }

    66% {
        transform: translate(56px, -20px) translateZ(0);
    }
}

@keyframes circle-9 {
    33% {
        transform: translate(20px, -12px) translateZ(0);
    }

    66% {
        transform: translate(80px, -8px) translateZ(0);
    }
}

@keyframes circle-10 {
    33% {
        transform: translate(68px, 20px) translateZ(0);
    }

    66% {
        transform: translate(100px, 28px) translateZ(0);
    }
}

@keyframes circle-11 {
    33% {
        transform: translate(4px, 4px) translateZ(0);
    }

    66% {
        transform: translate(68px, 20px) translateZ(0);
    }
}

@keyframes circle-12 {
    33% {
        transform: translate(56px, 0px) translateZ(0);
    }

    66% {
        transform: translate(60px, -32px) translateZ(0);
    }
}

/* fin boton */

/* INICIO UNI1 */
.uni1-container {
    display: flex;
    align-items: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
}

.uni1-content {
    flex: 1.5;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

.uni1-container img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 30px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.styled-button1 {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .styled-button1:hover {
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .styled-button1:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
  }
  
  .styled-button1:hover:before {
    transform: translateX(15em);
  }
/* FIN UNI1 */

/* INICIO UNI2 */
.uni2-container {
    display: flex;
    align-items: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
}

.uni2-container img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.uni2-content {
    flex: 1.5;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

.uni2-content h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

.styled-button2 {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .styled-button2:hover {
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .styled-button2:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
  }
  
  .styled-button2:hover:before {
    transform: translateX(15em);
  }
/* FIN UNI2 */

/* INICIO UNI3 */
.uni3-container {
    display: flex;
    align-items: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
}

.uni3-content {
    flex: 1.5;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

.uni3-container img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 30px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.styled-button3 {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .styled-button3:hover {
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .styled-button3:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
  }
  
  .styled-button3:hover:before {
    transform: translateX(15em);
  }
/* FIN UNI3 */

/* INICIO UNI4 */
.uni4-container {
    display: flex;
    align-items: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
}

.uni4-container img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.uni4-content {
    flex: 1.5;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

.uni4-content h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

.styled-button4 {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .styled-button4:hover {
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .styled-button4:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
  }
  
  .styled-button4:hover:before {
    transform: translateX(15em);
  }
/* FIN UNI4 */

/* INICIO UNI5 */
.uni5-container {
    display: flex;
    align-items: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
}

.uni5-content {
    flex: 1.5;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

.uni5-container img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 30px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.styled-button5 {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .styled-button5:hover {
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .styled-button5:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
  }
  
  .styled-button5:hover:before {
    transform: translateX(15em);
  }
/* FIN UNI5 */

/* INICIO UNI6 */
.uni6-container {
    display: flex;
    align-items: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
}

.uni6-container img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.uni6-content {
    flex: 1.5;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

.uni6-content h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

.styled-button6 {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .styled-button6:hover {
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .styled-button6:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
  }
  
  .styled-button6:hover:before {
    transform: translateX(15em);
  }

/* FIN UNI6 */

/* INICIO UNI7 */
.uni7-container {
    display: flex;
    align-items: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
}

.uni7-content {
    flex: 1.5;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

.uni7-container img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 30px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.styled-button7 {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .styled-button7:hover {
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .styled-button7:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
  }
  
  .styled-button7:hover:before {
    transform: translateX(15em);
  }
/* FIN UNI7 */

/* INICIO UNI8 */
.uni8-container {
    display: flex;
    align-items: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
}

.uni8-container img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.uni8-content {
    flex: 1.5;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

.uni8-content h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

.styled-button8 {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .styled-button8:hover {
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .styled-button8:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
  }
  
  .styled-button8:hover:before {
    transform: translateX(15em);
  }

/* FIN UNI8 */

/* INICIO TEXTO MATRICULA 0 */
.matricula0-container {
    background-color: #cecbcb;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    margin-left: 60px;
    margin-right: 60px;
}

.matricula0-container h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

.matricula0-container p {
    color: #555;
    line-height: 1.6;
    text-align: justify;
}
.styled-button9 {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 42%;
  }
  
  .styled-button9:hover {
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .styled-button9:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
  }
  
  .styled-button9:hover:before {
    transform: translateX(15em);
  }
/* FIN TEXTO MATRICULA 0 */

/* INICIO PIE DE PAGINA */
.footer {
    background-color: #87CEEB;
    padding: 20px;
    text-align: center;
    color: black;
    margin-top: 5%;
}
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20PX;

  }

.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
  }
  
  .instagram {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  
  .whatsapp {
    background-color: #25D366;
  }

  .facebook {
    background-color: #3b5998;
  }
  
  .Btn:hover {
    width: 110px;
    transition-duration: 0.4s;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: 0.4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: 0.3s;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: 0.4s;
  }
  
  .svgIcon {
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  

  .facebook a{
    margin: 0 10px;
  }
  .whatsapp a{
    margin: 0 10px;
  }
  .instagram a{
    margin: 0 10px;
  }
.footer p {
    margin: 0;
    font-size: 14px;
}

/* FIN PIE DE PAGINA */